:root {
    /* - Mobile: 375px - Desktop: 1440px */
    font-family: 'Poppins', sans-serif;

    /* Primary */
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);

    /* Accent */
    --Blue: hsl(248, 32%, 49%);

    /* Neutral */
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);

    --Font-size: 16px;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--Red);
    background-image: url(./images/bg-intro-desktop.png);
    background-size: cover;
}
.inactive {
    display: none;
}
#contenedor {
    padding: 10px;
}
.contenedor {
    margin: 100px auto;
    width: 1024px;
    display: flex;
    justify-content: center;
}
.left {
    width: 540px;
    padding: 0 50px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    width: 438px;
    margin: 0;
    font-weight: 600;
}
.left p{
    text-align: center;
    color: white;
    font-size: 1rem;
    text-align: left;
    width: 482px;
    margin-top: 20px;
}
.right {
    height: 500px;
    width: 500px;
}
.right-up p{
    text-align: center;
    background-color: var(--Blue);
    margin: 0;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 1px 6px 1px rgba(86, 85, 85, 0.372);
    margin-bottom: 30px;
    color: white;
    font-weight: 500;
}
.right-center{
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 470px;
}
.right-center p:nth-child(2){
    text-align: center;
    width: 370px; 
    margin: 2px 0 30px 0;
    font-size: 10px;
}
.right-center a{
    text-decoration: none;
    color: var(--Red);
}

/* Formulario */
#form {
    display: grid;
    padding: 10px 0 10px 0;
}
.active {
    width: 350px;
    height: 50px;
    padding: 0 20px;
    margin: 20px 0 0 0;
    border-radius: 8px;
    border: 1px solid var(--Blue);
    background-image: none;
}
.similar {
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    border: 1px solid var(--Red);
}
.error {
    display: block;
    text-align: right;
    width: 370px;
    color: var(--Red);
    background-image: none;
    border: none;
}
#btn {
    margin: 20px 0 0 0;
    background-color: var(--Blue);
    text-align: center;
    height: 42px;
    border-radius: 10px;
    box-shadow: 0 6px 2px rgb(199, 199, 199);
}
#btn:hover{
    cursor: pointer;
}
#btn:active{
    background-color: rgb(116, 70, 158);
}





@media (max-width:425px){
    body {
        background-image: url(./images/bg-intro-mobile.png);
    }
    .contenedor {
        display: inline;
        margin: 0;
        padding: 0;
    }
    .left {  
        width: 425px;
        padding: 0 18px 0 10px;
        align-items: center;
    }  
    .left h1{
        width: 340px;
        text-align: center;
    }
    .left p {
        width: 340px;
        text-align: center; 
        line-height: 2;
        margin-bottom: 80px;
    }
    .right{
        width: 425px;
        padding: 0 18px 0 10px;
        height: 600px;
    }
    .right-center{
        width: 425px;
    }
    .right-up p {
        padding: 20px 100px 20px 100px;
    }
}